
/* Coolors palette */
:root {
  --primary-color:   #f5f5f5; /* smoke white */
  --second-color:    #000000; /* black */
  --accent1-color:   #ff6600; /* Pumpkin*/
  --accent2-color:   #ffcc00; /* Jonquil*/
}

/* Global reset & body */
* {margin: 0; box-sizing: border-box;}


body {font-family: "Roboto", sans-serif;
  font-style: normal;}
h1, h2 {font-family: "PT Serif", serif;}  

main { padding: 3rem;
background-color: var(--primary-color);}

/* HEADER */
header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: #3ee8c1;
}
.logo {height: 50px;} 

nav {margin-left: auto;}

.nav-link {color: var(--primary-color);
  text-decoration: none;
  margin-left: 1.5rem; /* space between links */
  font-weight: bold;
}
.nav-link.active,
.nav-link:hover {
  color: var(--accent1-color);
}

/* HERO */
.hero {
  position: relative;
  text-align: center;
}

.hero-bg {
  width: 100%;
  display: block;
}

.hero-title {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: PT serif, serif;
  font-size: 3rem;
  color: #180defcc;
}

.hero-content {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: var(--second-color);
  margin-left: 10%;
  max-width: 50%;
  text-align: justify;
  display: flex;
  align-items: center;


}


.hero-content p {
  font-size: 2rem;
}


.hero-baby { 
  position: absolute; 
  top: -0%; 
  right: -40%; 
  width: 50%; 
  height: auto; 
  border-radius: 8px; 
  margin-right: 20px;
  padding: 4%;
} 


.history-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;

}

.history-p {
  bottom: 1%;
  text-align: center;
  padding: 1%;

}



.adventure-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.adventure-heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0rem;
  text-align: center;
  padding: 1%;
}

.adventures {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
}

.adventure {
  text-align: center;
  flex-shrink: 0;
}

.adventure-img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.adventure-caption {
  margin-top: 0.5rem;
  font-weight: bold;
}



/* FOOTER */
footer {
  background: #3ee8c1;
  color: white;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.social {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.social a {
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
}

.social img {
  width: 32px;
  vertical-align: middle;
}

