/* Coolors palette */
:root {
  --primary-color: #f5f5f5;
  /* smoke white */
  --second-color: #000000;
  /* black */
  --accent1-color: #ff6600;
  /* Pumpkin*/
  --accent2-color: #ffcc00;
  /* Jonquil*/
  --header-footer: #4697d5;
  --heading-font: "PT Serif", serif;
  --body-font: "Roboto", sans-serif;
}

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  font-family: var(--body-font, Arial, sans-serif);
  color: var(--second-color);
}

header img {
  width: 100px;
}

nav {
  margin-left: auto;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--second-color);
}

.nav-link.active,
.nav-link:hover {
  color: var(--second-color);

}


.nav-list {
  display: flex;
  list-style: none;
}

.site-header {
  gap: 100px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid #aaa;
  background-color: var(--header-footer);
}

/* HOME PAGE */
.home-hero-container {
  gap: 20px;
}

.home-hero {
  position: relative;
  width: 100%;
  height: 100vh;

}

.home-h1 {
  position: relative;
  bottom: 30rem;
  width: 50%;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  opacity: 0.7;
  left: 25%;
  font-family: var(--heading-font);
  background-color: var(--primary-color);

}

.home-cta-button {
  background-color: var(--second-color);
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  left: 45%;
}

.home-cta-button:hover {
  background-color: var(--accent1-color);
}

.home-cta-button:active {
  transform: scale(0.9);
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.purpose {
  grid-column: 1 / 2;
}

.offerings {
  grid-column: 2 / 3;
}

.unique {
  grid-column: 1 / 3;
}

.home-section-img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .purpose,
  .offerings,
  .unique {
    grid-column: 1 / 2;
  }
}


.home-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f9f9f9;
}

.home-form {
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.home-fieldset {
  border: none;
  padding: 15px;
}

.home-legend {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

.home-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

input {
  padding: 12px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-color: #0077b6;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 119, 182, 0.5);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.home-signup-button {
  position: relative;
  padding: 12px 20px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--second-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  left: 150px;
  transition: background 0.3s ease-in-out;
}

.home-signup-button:hover {
  background-color: var(--accent1-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}






/* ABOUT US PAGE */
.hero {
  position: relative;
  height: 100vh;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero h1 {
  position: relative;
  left: 0;
  right: 0;
  top: 90px;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  font-family: var(--heading-font);

}



.hero article {
  width: 58%;
  height: 21%;
  bottom: 35%;
  position: relative;
  left: 28%;
  background-color: var(--primary-color);
}


.article-image {
  float: right;
  width: 150px;
  height: auto;
  top: 22px;
  object-fit: cover;
  position: relative;


}



.hero article h2 {
  font-size: 1rem;
  position: absolute;
}

.history-heading {
  grid-column: span 3;
  text-align: center;
  font-family: var(--heading-font);
}

.history-container {
  width: 100%;
  display: grid;
  background-color: rgb(229, 226, 221);
  grid-template-columns: 1fr 1fr 1fr;
}


.history-img {
  display: block;
  margin: auto;
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.history-paragraph {
  font-size: 1rem;
}


.adventure-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

.adventure-heading {
  grid-column: span 5;
  text-align: center;
  font-family: var(--heading-font);
}

.adventure-gallery {
  position: relative;
  text-align: center;

  display: grid;
  background-color: rgb(229, 226, 221);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
}




.adventure-img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.adventure-caption {
  bottom: 20px;
  position: relative;

}



header h1,
.contact-title {
  font-family: var(--heading-font);
  text-align: center;
}

.company-info-h2 {
  font-family: var(--heading-font);
}

.company-info {
  padding: 2px;
  margin-bottom: 2px;
}

.company-info ul {
  list-style: none;
  margin: 10px 0;
}

.company-info ul li {
  margin-bottom: 5px;
}

.company-info-icon {
  position: relative;
  top: 12px;

}

.map-container iframe {
  width: 30%;
  height: 3%;
  border: none;
}

.employee-profiles-title {
  position: relative;
  font-family: var(--heading-font);
  left: 15rem;
  top: 35px;
}

.employee-profiles {
  display: grid;
  padding-left: 50px;
  grid-template-columns: repeat(2, 15.5rem);
  background-color: #fff;
}

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.employee-name {
  text-align: center;
  font-weight: bolder;
  word-wrap: break-word;
}


.employee-profiles img {
  width: 250px;
  height: auto;
}


.contact-form {
  position: absolute;
  top: 490px;
  float: right;
  left: 60%;
  display: grid;
  grid-template-columns: 30rem;
  padding-right: 200px;
  text-align: center;
}

fieldset legend {
  font-weight: bold;
  padding: 10px;
  font-family: var(--heading-font);
}


.form-item.column2 {
  text-align: left;
  flex: 1 1 45%;
  margin-bottom: 10px;
}

.form-item.column1 label {
  flex: 1 1 100%;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: small;
}

.contact-form-title {
  font-size: 1.7rem;
}

.form-item.column0 {
  flex: 1 1 100%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
}


.radio-group label {
  display: inline-block;
  text-align: left;
  font-weight: normal;
}

.radio {
  margin: 25px;
  gap: 0px;

}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper input {
  margin-right: 5px;
}


.button {
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  align-self: center;
  transition: background-color 0.3s ease;
  background-color: var(--second-color);
}

.button:hover {
  background-color: var(--accent1-color);
}

/* TRIPS PAGE */
.trips-hero img {
  position: relative;
    width: 100%;
}

.trip-first-section h1 {
  position: relative;
  top: 20rem;
  left: 25%;
  font-size: 3rem;
  text-align: center;
  width: 50%;
  opacity: 0.7;
  font-family: var(--heading-font);
  background-color: var(--primary-color);
}



.trips-cta-button {
  position: relative;
  display: block;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  bottom: 15rem;
  transition: background-color 0.3s ease;
  background-color: var(--second-color);
}

.trips-cta-button:hover {
  background-color: var(--accent1-color);
}


.trips-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto; 
  gap: 10px;justify-content: space-between;
  background-color: rgb(240, 244, 245);
  padding: 20px;
  text-align: center;
}
.trip-second-section h2 {
  text-align: center;
}
.trip-fig {
  position: relative;
  bottom: 30px;
}

.trip {
    flex: 2;
    margin: 15px;
    text-align: center;
}

.trip img {
    width: 100%;
    height: 50%;
}


.trip-summary table {
    width: 100%;
    border-collapse: collapse;
}

.trip-summary h2 {
  position: relative;
  text-align: center;
  bottom: 10px;
}

.trip-summary th, .trip-summary td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


/* FOOTER */
.footer-container {
  display: grid;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  color: var(--primary-color);
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #aaa;
}

.social a {
  margin: 1.5px;
  text-decoration: none;
}

.footer-paragraph {
  left: 4rem;
  text-align: right;
  position: relative;


}

.social img {
  width: 50px;
  right: 6rem;
  float: right;
  padding: 10px;
  position: relative;
}