/* Coolors palette */
:root {
  --primary-color: #ffffff;
  /* smoke white */
  --second-color: #000000;
  /* black */
  --accent1-color: #ff9090;
  /* Pumpkin*/
  --accent2-color: #ffcc00;
  /* Jonquil*/
  --header-footer: #4697d5;
  --heading-font: "PT Serif", serif;
  --body-font: "Roboto", sans-serif;
}

/* * {
  box-sizing: border-box;
}
 */

/* logo */
header img {
  color: var(--second-color);
  width: 60px; 
}


.nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: large;
  color: #000000;
}

/* .nav-link.active, */
.nav-link:hover {
  color: var(--accent1-color);

}


.nav-list {
  display: flex;
  gap: 100px;
  list-style: none;
}

.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  /* background-color: var(--header-footer); */
}

/* HOME PAGE */
.home img {
  position: relative;
  width: 100%;
}

.home h1 {
  z-index: 1;
  position: absolute;
  width: 90.5%;
  top: 10%;
  opacity: 0.5;
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  background-color: var(--second-color);
  font-family: var(--heading-font);
}

.home-cta-button {
  z-index: 1;
  position: absolute;
  background-color: var(--second-color);
  color: #ffffff;
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 10px rgba(239, 203, 176, 0.2);
  position: absolute;
  bottom: 100px;
  left: 45%;
  text-align: center;
}

.home-cta-button:hover {
  background-color: var(--accent1-color);
}

.home-cta-button:active {
  transform: scale(0.9);
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  left: 10%;
  right: 0;
  width: 80%;
}

.sec2-h3 {
  justify-self: center;
}

.item-img {
  position: relative;
  width: 50%;
  height: auto;
  object-fit: cover;
  left: 22%;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .item-1,
  .item-2,
  .item-3 {
    grid-column: 1 / 2;
  }
}


.home-newsletter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
  width: 30%;
  left: 30%;
  background-color: #f9f9f9;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.home-fieldset {
  border: none;
  padding: 10px;
}

.home-legend {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

.home-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin: 10px;
  padding: 20px;
}


label {
  font-size: 1em;
  color: #333;
  padding: 5px;
}

input {
  padding: 12px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-color: #0077b6;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 119, 182, 0.5);
}


.home-signup-button {
  padding: 12px 20px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--second-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.home-signup-button:hover {
  background-color: var(--accent1-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



.main-content {
  display: flex;
  flex-direction: row; /* side by side on larger screens */
  justify-content: space-between;
  gap: 2rem;
}

/* Phone screens */
@media (max-width: 600px) {
  .main-content {
    flex-direction: column; /* stack sections vertically */
    align-items: center;
    padding: 1rem;
  }

  .history,
  .adventure {
    width: 100%;
    text-align: center;
  }
}




/* ABOUT US PAGE */ 
.about img {
  position: relative;
  width: 100%;
}

.about h1 {
  position: absolute;
  width: 100%;
  top: 10%;
  opacity: 0.5;
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  background-color: var(--second-color);
  font-family: var(--heading-font);
}

.article {
  position: absolute;
  display: flex;
  bottom: 50px;
  padding-left: 250px;
}

.article-h2 {
  width: 70%;
  height: 100px;
  font-size: 12px;
  text-align: justify;
  padding: 20px;
  margin: 10px;
  background-color: var(--primary-color);

}

.article img {
  top: 50px;
  width: 160px;
  height: 80px;
  object-fit: cover;
  right: 190px;
  float: right;
}

.history-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 10px;
  background-color: #aaa;
}

.history-paragraph {
  font-size: small;
  text-align: justify;
  padding: 20px;
}

.his-image {
  position: relative;
  top: 20px;
  left: 100px;
  
}

.adventure-heading {
  top: 20px;
  z-index: 1;
  font-family: var(--heading-font);
}

.adventure-container {
  display: flex;
  margin: 20px;
  padding: 20px;
  background-color:#aaa;
}

.adventure-img {
  position: relative;
  width: 170px;
  height: auto;
  object-fit: cover;
}

.adventure-caption {
  bottom: 20px;
  position: relative;
  text-align: center;

}


/* Contact Page */
header h1,
.contact-title {
  font-family: var(--heading-font);
  text-align: center;
}

.company-info-h2 {
  font-family: var(--heading-font);
}

.company-info {
  padding: 2px;
  margin-bottom: 2px;
}

.company-info ul {
  list-style: none;
  margin: 10px 0;
}

.company-info ul li {
  margin-bottom: 5px;
}

.company-info-icon {
  position: relative;
  top: 12px;

}

.map-container iframe {
  width: 30%;
  height: 3%;
  border: none;
}

.employee-profiles-title {
  position: relative;
  font-family: var(--heading-font);
  left: 15rem;
  top: 35px;
}

.employee-name {
  text-align: center;
  font-weight: bolder;
  word-wrap: break-word;
}

.employee-profiles {
  display: grid;
  padding-left: 50px;
  grid-template-columns: repeat(2, 15.5rem);
  background-color: #fff;
}




/*Contact page */
.contact-form {
  position: absolute;
  top: 490px;
  float: right;
  left: 60%;
  display: grid;
  grid-template-columns: 30rem;
  padding-right: 200px;
  text-align: center;
}

.employee-profiles img {
  width: 250px;
  height: auto;
}

fieldset legend {
  font-weight: bold;
  padding: 10px;
  font-family: var(--heading-font);
}


.form-item.column2 {
  text-align: left;
  flex: 1 1 45%;
  margin-bottom: 10px;
}

.form-item.column1 label {
  flex: 1 1 100%;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: small;
}

.contact-form-title {
  font-size: 1.7rem;
}

.form-item.column0 {
  flex: 1 1 100%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
}


.radio-group label {
  display: inline-block;
  text-align: left;
  font-weight: normal;
}

.radio {
  margin: 25px;
  gap: 0px;

}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper input {
  margin-right: 5px;
}


.button {
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  align-self: center;
  transition: background-color 0.3s ease;
  background-color: var(--second-color);
}

.button:hover {
  background-color: var(--accent1-color);
}

/* TRIPS PAGE */
.trips-hero img {
  /* position: relative; */
    width: 100%;
}

.trip-first-section h1 {
  position: relative;
  top: 20rem;
  left: 25%;
  font-size: 3rem;
  text-align: center;
  width: 50%;
  opacity: 0.7;
  font-family: var(--heading-font);
  background-color: var(--primary-color);
}



.trips-cta-button {
  position: relative;
  display: block;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  bottom: 15rem;
  transition: background-color 0.3s ease;
  background-color: var(--second-color);
}

.trips-cta-button:hover {
  background-color: var(--accent1-color);
}


.trips-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto; 
  gap: 10px;justify-content: space-between;
  background-color: rgb(240, 244, 245);
  padding: 20px;
  text-align: center;
}
.trip-second-section h2 {
  text-align: center;
}

.trip-fig {
  position: relative;
  bottom: 30px;
}

.trip {
    flex: 2;
    margin: 15px;
    text-align: center;
}

.trip img {
    width: 100%;
    height: 50%;
}


.trip-summary table {
    width: 50%;
    border-collapse: collapse;
}

.trip-summary h2 {
  position: relative;
  text-align: center;
  bottom: 10px;
}

.trip-summary th, .trip-summary td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


/* FOOTER */
.footer-container {
  display: grid;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  color: var(--primary-color);
  grid-template-columns: 1fr 1fr;
  /* border-top: 1px solid #aaa; */
}

.social a {
  margin: 1.5px;
  text-decoration: none;
  color: var(--primary-color);
}

.footer-paragraph {
  left: 4rem;
  text-align: right;
  position: relative;
  color: var(--second-color);


}

.social img {
  width: 25px;
  right: 6rem;
  float: right;
  padding: 10px;
  color: var(--second-color);
  position: relative;
}